absl-py==2.2.2
aiofiles==24.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anthropic==0.45.2
anyio==4.8.0
arxiv==2.2.0
asgiref==3.8.1
aspose-pdf==25.2.0
asttokens==3.0.0
attrs==25.1.0
Automat==25.4.16
azure-core==1.32.0
azure-identity==1.20.0
backcall==0.2.0
beautifulsoup4==4.13.3
bleach==6.2.0
blinker==1.9.0
blis==0.7.11
cachetools==5.5.1
catalogue==2.0.10
certifi==2025.4.26
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.16.0
cmudict==1.0.32
colorama==0.4.6
Comet==3.1.0
confection==0.1.5
constantly==23.10.4
contourpy==1.3.1
cryptography==44.0.1
cycler==0.12.1
cymem==2.0.11
dashscope==1.22.1
dataclasses-json==0.6.7
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dirtyjson==1.0.8
diskcache==5.6.3
distro==1.9.0
Django==5.1.7
docker==7.1.0
docopt==0.6.2
edge-tts==7.0.0
entmax==1.3
et_xmlfile==2.0.0
executing==2.2.0
fastapi==0.110.0
fastjsonschema==2.21.1
feedparser==6.0.11
ffmpy==0.5.0
filelock==3.17.0
FLAML==2.3.4
fonttools==4.56.0
fpdf==1.7.2
frozenlist==1.5.0
fsspec==2025.2.0
gitdb==4.0.12
GitPython==3.1.44
googletrans==3.1.0a0
gradio @ https://public.agent-matrix.com/publish/gradio-3.32.12-py3-none-any.whl#sha256=b37d2123b12f3b226cafe18c09aa3b51945c50fe5e64e1c593d91f007f9a1265
gradio_client==0.8.0
greenlet==3.1.1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2025.1.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.28.1
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
incremental==24.7.2
ipython==8.12.3
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.5
jiter==0.8.2
joblib==1.4.2
jsonargparse==3.13.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
kiwisolver==1.4.8
langcodes==3.5.0
language_data==1.3.0
latex2ast==0.0.1
latex2mathml==3.77.0
lightning-utilities==0.14.3
linkify-it-py==2.0.3
llama-index-core==0.10.68
llama-index-embeddings-azure-openai==0.1.10
llama-index-embeddings-openai==0.1.10
llama-index-legacy==0.9.48
llama-index-llms-azure-openai==0.1.10
llama-index-llms-openai==0.1.31
llama-index-readers-file==0.1.33
llama-index-readers-llama-parse==0.1.6
llama-parse==0.4.9
loguru==0.7.3
lxml==5.3.1
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==2.2.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdit-py-plugins==0.3.3
mdtex2html==1.3.1
mdurl==0.1.2
mistune==3.1.3
mpmath==1.3.0
msal==1.31.1
msal-extensions==1.2.0
multidict==6.1.0
murmurhash==1.0.12
mypy-extensions==1.0.0
narwhals==1.27.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
openai==1.64.0
openpyxl==3.1.5
orjson==3.10.15
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pickleshare==0.7.5
pillow==11.1.0
pipreqs==0.5.0
plasTeX==3.1
platformdirs==4.3.8
ply==3.11
portalocker==2.10.1
preshed==3.0.9
prompt_toolkit==3.0.50
propcache==0.2.1
protobuf==4.25.8
pure_eval==0.2.3
pyarrow==20.0.0
pyautogen==0.5.3
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
pydub==0.25.1
Pygments==2.19.1
PyJWT==2.8.0
pylatexenc==2.10
pymdown-extensions==10.14.3
PyMuPDF==1.25.3
pyparsing==3.2.1
pypdf==4.3.1
PyPDF2==2.12.1
pyphen==0.17.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-markdown-math==0.8
python-multipart==0.0.20
pytorch-lightning==2.5.1.post0
pytz==2025.1
pywin32==308
PyYAML==6.0.2
pyzmq==26.4.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rfc3986==1.5.0
rich==13.9.4
rjsmin==1.2.4
rouge_score==0.1.2
rpds-py==0.22.3
sacrebleu==2.5.1
safetensors==0.5.2
scikit-learn==1.6.1
scipdf-parser==0.52
scipy==1.15.2
seaborn==0.13.2
selenium==4.33.0
semantic-version==2.10.0
sentencepiece==0.2.0
sgmllib3k==1.0.0
six==1.17.0
smart-open==6.4.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.38
sqlparse==0.5.3
srsly==2.5.1
srt==3.5.3
stack-data==0.6.3
starlette==0.36.3
streamlit==1.46.1
streamlit-lottie==0.0.5
striprtf==0.0.26
sympy==1.14.0
tabulate==0.9.0
tenacity==8.5.0
termcolor==2.5.0
TexSoup==0.3.1
textstat==0.7.5
thinc==8.2.5
threadpoolctl==3.6.0
tiktoken==0.9.0
tinycss2==1.4.0
tokenizers==0.19.1
toml==0.10.2
torch==2.7.1
torchmetrics==0.10.3
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.41.2
trio==0.30.0
trio-websocket==0.12.2
Twisted==24.11.0
typer==0.9.4
typing-inspect==0.9.0
typing_extensions==4.13.2
tzdata==2025.1
uc-micro-py==1.0.3
unbabel-comet==2.2.6
Unidecode==1.3.8
urllib3==2.4.0
uvicorn==0.34.0
wasabi==1.1.3
watchdog==6.0.0
wcwidth==0.2.13
weasel==0.3.4
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
win32_setctime==1.2.0
wordcloud==1.9.4
wrapt==1.17.2
wsproto==1.2.0
yarg==0.1.9
yarl==1.18.3
zhipuai==2.0.1
zipp==3.21.0
zope.interface==7.2
